<img ngSrc="https://foblex.com/assets/foblex-logo.svg" width="30" height="30" alt="Foblex Logo" class="m-0 p-0" />
<nav class="header-nav" aria-label="Main Navigation">
  <a routerLink="/flow" routerLinkActive="active" class="text-md fw-medium p-1 rounded" aria-label="Flow">Flow</a>
  <a routerLink="/stepmaster" routerLinkActive="active" class="text-md fw-medium p-1 rounded" aria-label="Step Master">Step Master</a>
</nav>
<div class="flex-space"></div>
<button class="btn btn-secondary rounded" aria-label="User Profile">
  <i class="fa-regular fa-circle-user text-xl"></i>
</button>

